// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body {
  font-family: 'Noto Sans KR', sans-serif;
}
body.body--dark {
  color: rgba($color: white, $alpha: 0.76);
}

.target {
  background: rgba($color: white, $alpha: 0.76);
}

.q-item--dark {
  color: rgba($color: white, $alpha: 0.76);
}

a {
  text-decoration-color: none;
  color: $primary;
}
.line {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  $color: black;
}
.line::before {
  content: '';
  background: black;
  body.body--dark & {
    background: rgba($color: white, $alpha: 0.76);
  }
  flex-grow: 1;
  height: 1px;
  line-height: 0px;
  margin-right: 14px;
}
.line::after {
  content: '';
  flex-grow: 1;
  background: black;
  body.body--dark & {
    background: rgba($color: white, $alpha: 0.76);
  }
  height: 1px;
  line-height: 0px;
  margin-left: 14px;
}
